@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');


/* ***general fonts*** */
.ubuntu{
	font-family: 'Ubuntu', sans-serif;

}

.sanser{
font-family: 'Open Sans', sans-serif;
}

.robotos{
	font-family: 'Roboto', sans-serif;
}

.sacramento{
	font-family: 'Sacramento', cursive;
}

.abel{
	font-family: 'Abel', sans-serif;
}

/* ****general orientation***** */

.flex-row{
	display: flex;
	flex-direction: row;
}

.flex-col{
	display: flex;
	flex-direction: column;
}

.center {
	justify-content: center;
	align-items: center;
}

.shrink{
	width: 100px;
}

.first-border{
	/* border-bottom: 2px solid; */
	border-bottom-color: unset ;
	transition: border-bottom-color 0.02s ease-in-out;
	text-decoration: none;
	list-style: none;
}

.first-border:hover{
	border-bottom-color: rgba(0, 0, 0, 0.39);
}

.navlink{
	text-decoration: none;
	color: unset;
}

.home-icon{
	width: 18px;
	margin-bottom: 10px;
	margin-right: 5px;
}


.theme-button{
 background: rgba(0, 0, 0, 0.863);
}

