#gallery-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.gallery-image {
  margin-right: 7px;
  margin-top: 7px;
  border: black 3px solid;
  width: 130px;
  height: 150px;
  z-index: -1;
}

.x-closer {
  width: 0;
  height: 0;
  border-top: 35px solid black;
  border-right: 35px solid transparent;
  position: absolute;
	top: 10px;
}

.image-container {
	position: relative;
	cursor: pointer;
}

.closer{
	position: absolute;
	top: 7px;
	left: 3px;
	font-weight: bolder;
	color: white;
}

.hider{
	visibility: hidden;
}



